@font-face {
    font-family: "SubTitle";
    src: url(Adia_Demo.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: aqua;
}

.Kepala {
    font-size: 20px;
    padding: 15px;
    background-color: #00c8eb;
    text-align: center;
    color: rgb(38, 91, 100);
}

header p {
    color: white;
    text-shadow: black;

    font-size: small;
}

nav li {
    display: inline;
    list-style-type: none;
    justify-content: center;
    margin-right: 50px;
    justify-items: center;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
   
    color: white;
  }

  nav a:hover {
    font-weight: bold;
  }

main{
    background-color: rgb(47, 188, 231);
}

.audios{
    padding: 15px 25px;
    margin: auto;
}

#isa {
text-align: center;
}

.Isi {

    font-family: SubTitle;
    background-color: whitesmoke;
    padding: 8%;
    white-space: 3em;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 5px 2px black ;
    border-radius: 20px 5px 20px 5px;
}

aside {
    background-color: #242fc9;
    text-align: center;
    font-family: SubTitle;
    word-spacing: auto;
    color: aliceblue;
}

footer {
    padding: 5px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
  }
